/*---------------------------*/
/* BASIC SETUP */
/*---------------------------*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*---------------------------*/
/* REUSABLE COMPONENTS */
/*---------------------------*/

.row {
    max-width: 1280px;
    margin: 0 auto;
}

/*---------------------------*/
/* HEADING */
/*---------------------------*/

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: normal;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 150%;
    text-align: center;
    letter-spacing: 1px;
    color: #f1f1f1;
}

h3 {
    font-size: 110%;
}

h2:after {
    content: ' ';
    display: block;
    height: 2px;
    background-color: #e67e22;
    width: 100px;
    margin: 0 auto;
    margin-top: 15px;
}

/*---------------------------*/
/* HEADER */
/*---------------------------*/

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    background-color: #fff;
    position: relative;
    z-index: 400;
}

nav {
    padding: 20px 0;
}

.main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
}

.navigation-form {
    -webkit-box-flex: 0;
    -ms-flex: 0 60%;
    flex: 0 60%;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 0 0 3px 0;
    text-decoration: none;
    color: #555;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #555;
}

.main-nav .search-box {
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #555;
    padding-left: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.search-box input {
    height: 60px;
    padding: 7px 0 7px 15px;
    width: 95%;
    outline: none;
    border: none;
    font-size: 80%;
    color: #3d3b49;
}

.search-box span {
    cursor: pointer;
    background-color: #fff;
}

.search-box img {
    width: 18px;
}

/*---------------------------*/
/* MAIN */
/*---------------------------*/

main {
    /* background-color: #fff; */
    position: relative;
    background-color: transparent;
    z-index: 400;
}

/*---------------------------*/
/* HEADING SECTION */
/*---------------------------*/

.heading-section {
    margin: 50px 0;
}

/*---------------------------*/
/* CARD SECTION */
/*---------------------------*/

/* FIRST CHOICE */
/* .card-items {
    margin: 30px;
    padding: 0 5%;
}

.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px 1%;
    padding: 25px 2%;
    background-color: #333;
    border-radius: 8px;
}

.card-icon-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 10%;
    flex: 0 10%;
    border-radius: 50%;
    height: 80px;
}

.card-icon-img img {
    border-radius: 50%;
    width: 70%;
}

.card-details {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.card-details h3 {
    margin-bottom: 5px;
}

.card-details h3 a:link,
.card-details h3 a:visited {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.card-details h3 a:hover,
.card-details h3 a:active {
    border-bottom: 1px solid #f1f1f1;
}

.card-info span {
    text-align: center;
    font-size: 60%;
    color: #f2f2f2;
} */

/* SECOND CHOICE */
.card-items {
    margin-top: 30px;
    padding: 0 5%;
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1%;
    padding: 40px 2%;
    /* background-color: #333; */
    border-radius: 8px;
}

.card-icon-img {
    border-radius: 50%;
    height: 80px;
}

.card-icon-img img {
    border-radius: 50%;
}

.card-details h3 {
    text-align: center;
    margin-bottom: 5px;
}

.card-details h3 a:link,
.card-details h3 a:visited {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.card-details h3 a:hover,
.card-details h3 a:active {
    border-bottom: 1px solid #f1f1f1;
}

.card-info span {
    text-align: center;
    font-size: 60%;
    color: #f2f2f2;
}

/*---------------------------*/
/* FOOTER */
/*---------------------------*/

footer {
    background-color: #f1f1f1;
    margin-top: 40px;
    padding: 25px 2% 20px;
    font-size: 80%;

    position: relative;
    z-index: 400;
}

.footer-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-nav {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.social-links {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.social-links li {
    padding: 3px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #333;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #000000;
}

.social-facebook img,
.social-twitter img,
.social-instagram img {
    height: 18px;
}

.social-facebook:hover {
    background-color: #3b5998;
    border-radius: 3px;
}

.social-twitter:hover {
    background-color: #00aced;
    border-radius: 3px;
}

.social-instagram:hover {
    background-color: #3f729b;
    border-radius: 3px;
}

footer p {
    color: #333;
    text-align: center;
    margin-top: 15px;
}



/* Background Animation */
.background {
    background: black url(../img/background.png) repeat 5% 5%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    animation-name: STAR-MOVE;
    animation-duration: 800s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.midground {
    background: url(../img/midground.png) repeat 20% 20%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	z-index: 200;
	/* opacity: .1; */

    animation-name: STAR-MOVE;
    animation-duration: 700s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.foreground {
    background: url(../img/foreground.png) repeat 35% 35%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 300;

    animation-name: STAR-MOVE;
    animation-duration: 600s;
    animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	
	/* animation: STAR-MOVE 100s linear delay infinite direction fill-mode; */
}

@keyframes STAR-MOVE {
    from {
        left: 0;
        top: 0;
    }
    to {
        left: -10000px;
        top: -2000px;
    }
}